<h1>Login</h1>

  <%= form_for :user, url: '/sessions' do |f| %>
    Username: <%= f.text_field :name %> <br>
    Password: <%= f.password_field :password %> <br>
    <%= f.submit "Login" %>
  <% end %>
